<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HairstyleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into BUS_HAIRSTYLE(
			styletitle,
			content,
			userid,
			FxsUserId,
			publishtime,
			viewcount,
			srcImagePath,
			id,
			publishdateteime,
			evaluatecount
        ) values (
			#{styletitle},
			#{content},
			#{userId},
			#{FxsUserId},
			#{publishtime},
			#{viewcount},
			#{srcImagePath},
			#{id},
			#{publishdateteime},
			#{evaluatecount}
        )
    </insert>


    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from BUS_HAIRSTYLE
        where
		id= #{id}
    </delete>


    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update  BUS_HAIRSTYLE
        set
				styletitle = #{styletitle},
				content = #{content},
				userid = #{userid},
				publishtime = #{publishtime},
				viewcount = #{viewcount},
				srcImagePath = #{srcImagePath},
				id= id
        where
		id= #{id}
    </update>


    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
			a.styletitle,
			a.content,
			a.userid,
			a.publishtime,
			a.viewcount,
			a.srcImagePath,
			a.id,
			a.evaluatecount
        from
        	BUS_HAIRSTYLE a
        where
			a.id= #{id}
    </select>


    <!-- 发迹列表  by loginId -->
    <select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			(
				@i := CASE
				WHEN @pre_publishtime = hairstyle.publishtime THEN
					@i + 1
				ELSE
					1
				END
			) rownum,
			date_format(
				hairstyle.publishtime,
				'%Y%m%d'
			) publishtime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			(
				@pre_publishtime := hairstyle.publishtime
			) AS publishtimea,
			hairstyle.ID AS hairstyleId,
			hairstyle.userName,
			hairstyle.evaluatecount,
			date_format(
				hairstyle.publishdateteime,
				'%Y%m%d%H%i%s'
			) publishdateteime
		FROM
			(
				SELECT
					subhairstyle.*, subSYS_USER.userName
				FROM
					bus_hairstyle subhairstyle,
					SYS_USER subSYS_USER
				WHERE
					subSYS_USER.userId = subhairstyle.userid
				 <if test="pd.loginId != null and pd.loginId != ''">
				   AND subSYS_USER.loginId = #{pd.loginId}
				 </if>
				ORDER BY
					subhairstyle.publishdateteime DESC
			) hairstyle,
			(
				SELECT
					@i := 0 ,@pre_publishtime := ''
			) AS a
		GROUP BY
			hairstyle.publishtime,
			hairstyle.publishdateteime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			hairstyle.ID,
			hairstyle.userName,
			hairstyle.evaluatecount
		ORDER BY
			hairstyle.publishdateteime DESC
    </select>
    <!-- 发型师发布的发型列表展示  by UserId-->
    <select id="datalistPageByUserId" parameterType="page" resultType="pd">
		SELECT
			(
				@i := CASE
				WHEN @pre_publishtime = hairstyle.publishtime THEN
					@i + 1
				ELSE
					1
				END
			) rownum,
			date_format(
				hairstyle.publishtime,
				'%Y%m%d'
			) publishtime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			(
				@pre_publishtime := hairstyle.publishtime
			) AS publishtimea,
			hairstyle.ID AS hairstyleId,
			hairstyle.userName,
			hairstyle.evaluatecount,
			date_format(
				hairstyle.publishdateteime,
				'%Y%m%d%H%i%s'
			) publishdateteime
		FROM
			(
				SELECT
					subhairstyle.*, subSYS_USER.userName
				FROM
					bus_hairstyle subhairstyle,
					SYS_USER subSYS_USER
				WHERE
					subSYS_USER.userId = subhairstyle.FxsUserId
				 <if test="pd.userId != null and pd.userId != ''">
				   AND subSYS_USER.userId = #{pd.userId}
				 </if>
				ORDER BY
					subhairstyle.publishdateteime DESC
			) hairstyle,
			(
				SELECT
					@i := 0 ,@pre_publishtime := ''
			) AS a
		GROUP BY
			hairstyle.publishtime,
			hairstyle.publishdateteime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			hairstyle.ID,
			hairstyle.userName,
			hairstyle.evaluatecount
		ORDER BY
			hairstyle.publishdateteime DESC
    </select>
    <!-- 发迹列表 关注的列表 -->
    <select id="dataFouslistPage" parameterType="page" resultType="pd">
		SELECT
			(
				@i := CASE
				WHEN @pre_publishtime = hairstyle.publishtime THEN
					@i + 1
				ELSE
					1
				END
			) rownum,
			date_format(
				hairstyle.publishtime,
				'%Y%m%d'
			) publishtime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			(
				@pre_publishtime := hairstyle.publishtime
			) AS publishtimea,
			hairstyle.ID AS hairstyleId,
			hairstyle.userName,
			hairstyle.evaluatecount,
			date_format(
				hairstyle.publishdateteime,
				'%Y%m%d%H%i%s'
			) publishdateteime,
			hairstyle.hairstyleevaluateId
		FROM
			(
				SELECT
					hairstylelist.*, hairstyleevaluate.ID AS hairstyleevaluateId
				FROM
					(
						SELECT
							subbus_hairstyle.*, subSYS_USER.userName
						FROM
							bus_hairstyle subbus_hairstyle,
							SYS_USER subSYS_USER
						WHERE
							subSYS_USER.userId = subbus_hairstyle.FxsUserId
						AND subSYS_USER.userId IN (
							SELECT
								focu.FXSID
							FROM
								bus_focusonrecords focu
							WHERE
								1 = 1
			              <if test="pd.userId != null and pd.userId != ''">
							and focu.USERID = #{pd.userId}
					      </if>
						)
						ORDER BY
							subbus_hairstyle.publishdateteime DESC
					) hairstylelist
				LEFT JOIN bus_hairstyleevaluate hairstyleevaluate ON hairstyleevaluate.hairstyleid = hairstylelist.ID
				<if test="pd.userId != null and pd.userId != ''">
				 AND hairstyleevaluate.userid = #{pd.userId}
				</if>
			) hairstyle,
			(
				SELECT
					@i := 0 ,@pre_publishtime := ''
			) AS a
		GROUP BY
			hairstyle.publishtime,
			hairstyle.publishdateteime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			hairstyle.ID,
			hairstyle.userName,
			hairstyle.evaluatecount,
			hairstyle.hairstyleevaluateId
		ORDER BY
			hairstyle.publishdateteime DESC
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
			a.styletitle,
			a.content,
			a.userid,
			a.publishtime,
			a.viewcount,
			a.srcImagePath,
			a.id
        from
        	BUS_HAIRSTYLE a
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from BUS_HAIRSTYLE
        where
			a.id
		in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

</mapper>