<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HairstyleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into BUS_HAIRSTYLE(
			styletitle,
			content,
			userid,
			publishtime,
			viewcount,
			srcImagePath,
			id,
			publishdateteime,
			evaluatecount
        ) values (
			#{styletitle},
			#{content},
			#{userid},
			#{publishtime},
			#{viewcount},
			#{srcImagePath},
			#{id},
			#{publishdateteime},
			#{evaluatecount}
        )
    </insert>


    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from BUS_HAIRSTYLE
        where
		id= #{id}
    </delete>


    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update  BUS_HAIRSTYLE
        set
				styletitle = #{styletitle},
				content = #{content},
				userid = #{userid},
				publishtime = #{publishtime},
				viewcount = #{viewcount},
				srcImagePath = #{srcImagePath},
				id= id
        where
		id= #{id}
    </update>


    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
			a.styletitle,
			a.content,
			a.userid,
			a.publishtime,
			a.viewcount,
			a.srcImagePath,
			a.id
        from
        	BUS_HAIRSTYLE a
        where
			a.id= #{id}
    </select>


    <!-- 发迹列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			(
				@i := CASE
				WHEN @pre_publishtime = hairstyle.publishtime THEN
					@i + 1
				ELSE
					1
				END
			) rownum,
			date_format(hairstyle.publishtime, '%Y%m%d') publishtime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			(
				@pre_publishtime := hairstyle.publishtime
			) AS publishtimea,
			hairstyle.ID,
			SYS_USER.userName,
			hairstyle.evaluatecount,
		    date_format(hairstyle.publishdateteime, '%Y%m%d%H%i%s') publishdateteime
		FROM
			bus_hairstyle hairstyle,
			SYS_USER SYS_USER,
			(
				SELECT
					@i := 0 ,@pre_publishtime := ''
			) AS a
		WHERE
			SYS_USER.userId = hairstyle.userid
		AND SYS_USER.loginId = #{pd.loginId}
		GROUP BY
			hairstyle.publishtime,
		  hairstyle.publishdateteime,
			hairstyle.styletitle,
			hairstyle.content,
			hairstyle.srcImagePath,
			hairstyle.ID,
			SYS_USER.userName,
			hairstyle.evaluatecount
		ORDER BY
			hairstyle.publishtime DESC,
			rownum ASC
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
			a.styletitle,
			a.content,
			a.userid,
			a.publishtime,
			a.viewcount,
			a.srcImagePath,
			a.id
        from
        	BUS_HAIRSTYLE a
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from BUS_HAIRSTYLE
        where
			a.id
		in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>

</mapper>