<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<sql id="userColumns">userId,userName,account,password,phone,securityCode,timeout,isInsider,userPicture,isVIP,vipStartTime,vipEndTime,roleId</sql>
	<!-- 将vo实体类转换为映射文件 ，因为在mybatis-config的配置文件中已经用了别名，因此这里可以这样写：type="User"-->
	
	<resultMap type="User" id="userResultMap">
		<id column="userId" property="userId"/>
		<result column="userName" property="userName"/>
		<result column="password" property="password"/>
		<result column="businessId" property="businessId"/>
		<result column="fxsPhone" property="fxsPhone"/>
		<result column="fxsQQorVX" property="fxsQQorVX"/>
		<result column="fxsUser" property="fxsUser"/>
		<result column="loginId" property="loginId"/>
		<result column="diffFlag" property="diffFlag"/>
		<result column="headSculpturePath" property="headSculpturePath"/>
		<result column="createDate" property="createDate"/>
		<result column="delFlag" property="delFlag"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into SYS_USER(
			userName,
			password,
			businessId,
			fxsPhone,
			fxsQQorVX,
			fxsUser,
			loginId,
			diffFlag,
			headSculpturePath,
			createDate,
			delFlag,
			userId
        ) values (
			#{userName},
			#{password},
			#{businessId},
			#{fxsPhone},
			#{fxsQQorVX},
			#{fxsUser},
			#{loginId},
			#{diffFlag},
			#{headSculpturePath},
			#{createDate},
			#{delFlag},
			#{userId}
        )
    </insert>


    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from SYS_USER
        where
		userId= #{userId}
    </delete>
    
    <select id="testPhoneNumber" parameterType="pd" resultType="Integer">
		SELECT count(1) num
			FROM SYS_USER
		WHERE 1=1
		AND loginId = #{loginId}
	</select>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update  SYS_USER
        set
				userName = #{userName},
				businessId = #{businessId},
				fxsPhone = #{fxsPhone},
				fxsQQorVX = #{fxsQQorVX},
				fxsUser = #{fxsUser},
				diffFlag = #{diffFlag},
				headSculpturePath = #{headSculpturePath},
				delFlag = #{delFlag},
				userId= userId
        where
		userId= #{userId}
    </update>
    <!-- 修改 -->
    <update id="editheadPortrait" parameterType="pd">
        update  SYS_USER
        set
				headSculpturePath = #{headSculpturePath}
        where
		userId= #{userId}
    </update>
    <!-- 修改使用户成为发型师 -->
    <update id="editToFaXingShi" parameterType="pd">
        update  SYS_USER
        set
				businessId = #{businessId},
				fxsPhone = #{fxsPhone},
				fxsQQorVX = #{fxsQQorVX},
				fxsUser = #{fxsUser},
				diffFlag = #{diffFlag}
        where
		userId= #{userId}
    </update>
    <!-- 修改发型师的店铺名 -->
    <update id="UpdateToShopAddress" parameterType="pd">
        update  SYS_USER
        set
				businessId = #{businessId}
        where
		userId= #{userId}
    </update>


    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
			a.userName,
			a.businessId,
			a.fxsPhone,
			a.fxsQQorVX,
			a.fxsUser,
			a.loginId,
			a.diffFlag,
			a.headSculpturePath,
			a.createDate,
			a.delFlag,
			a.userId
        from
        	SYS_USER a
        where
			a.userId= #{userId}
    </select>
    <!-- 通过loginId(手机号码)获取数据 -->
    <select id="findByloginId" parameterType="pd" resultType="pd">
        select
			a.userName,
			a.businessId,
			a.fxsPhone,
			a.fxsQQorVX,
			a.fxsUser,
			a.diffFlag,
			a.headSculpturePath,
			a.createDate,
			a.delFlag,
			a.userId
        from
        	SYS_USER a
        where
			a.loginId= #{loginId}
    </select>

    <!-- 列表 -->
    <select id="FXSlistPage" parameterType="page" resultType="pd">
		SELECT
			*
		FROM
			(
				SELECT
					t.userId,
					t.fxsUser,
					t.fxsPhone,
					shop.shop_shopname,
					shop.shop_addr,
					t.focusoncount,
					t.headSculpturePath,
					t.userName
				FROM
					sys_user t,
					bus_shop shop
				WHERE
					shop.ID = t.businessId
				AND t.diffFlag = '3'
			) allfxs
		LEFT JOIN (
			SELECT
				fct.FXSID
			FROM
				bus_focusonrecords fct
			WHERE
				fct.USERID = #{pd.userId}
		) focus ON allfxs.userId = focus.FXSID
		where 1=1
		 <if test="pd.shopNameOrUserName != null and pd.shopNameOrUserName != ''">
		   and (allfxs.shop_shopname LIKE CONCAT('%',#{pd.shopNameOrUserName},'%') or 
		   allfxs.userName LIKE CONCAT('%',#{pd.shopNameOrUserName},'%') or 
		   allfxs.fxsUser LIKE CONCAT('%',#{pd.shopNameOrUserName},'%') or
		   allfxs.shop_addr LIKE CONCAT('%',#{pd.shopNameOrUserName},'%'))
		 </if>
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
			a.userName,
			a.businessId,
			a.fxsPhone,
			a.fxsQQorVX,
			a.fxsUser,
			a.loginId,
			a.diffFlag,
			a.headSculpturePath,
			a.createDate,
			a.delFlag,
			a.userId
        from
        	SYS_USER a
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
			a.userName,
			a.businessId,
			a.fxsPhone,
			a.fxsQQorVX,
			a.fxsUser,
			a.loginId,
			a.diffFlag,
			a.headSculpturePath,
			a.createDate,
			a.delFlag,
			a.userId
        from
        	SYS_USER a
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from SYS_USER
        where
			a.userId
		in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
		#{item}
        </foreach>
    </delete>
	
	<!-- 登陆验证用 -->
	<select id="loginUser" parameterType="pd" resultMap="userResultMap" useCache="false">
		SELECT *
		FROM sys_user
		WHERE 1=1
		AND loginId = #{loginId}
		AND password = #{password}
	</select>

</mapper>